.u_j-c-c {
  justify-content: center;
}
.u_j-c-e {
  justify-content: flex-end;
}
.u_j-c-s {
  justify-content: flex-start;
}
.u_j-c-sb {
  justify-content: space-between;
}
.u_j-c-sa {
  justify-content: space-around;
}
.u_j-c-st {
  justify-content: stretch;
}

.u_a-i-c {
  align-items: center;
}
.u_a-i-s {
  align-items: flex-start;
}
.u_a-i-e {
  align-items: flex-end;
}
.u_a-i-st {
  align-items: stretch;
}
.u_a-i-b {
  align-items: baseline;
}