$white: #EEEBEA;
$black: #464646;
$gray: #939399;


$bolder: rgba(70, 70, 70, 0.2);
$primary: rgba(213, 84, 100, 1);

$box-shadow: (
   1: -3px 3px 41px 0 rgba(0, 0, 0, 0.13),
   2: (-7px 10px 51px rgba(0, 0, 0, 0.18), 7px 9px 51px rgba(0, 0, 0, 0.18))
);


// font
$arsenal: 'Arsenal', sans-serif;
$julius: 'Julius Sans One', sans-serif;