$white: #EEEBEA;
$black: #464646;
$gray: #939399;
$orange: #EF6E4B;
$purple: #AE2E89;

$bolder: rgba(70, 70, 70, 0.2);
$primary: rgba(213, 84, 100, 1);

$gradient: linear-gradient(-45deg, $purple, $orange);
$gradient-inverse: linear-gradient(-45deg,$orange, $purple);

$box-shadow: (
   1: -3px 3px 41px 0 rgba(0, 0, 0, 0.13),
   2: (-7px 10px 51px rgba(0, 0, 0, 0.18), 7px 9px 51px rgba(0, 0, 0, 0.18))
);

$radius: .2rem;
$border-primary: 1px solid $primary;

// font
$arsenal: 'Arsenal', sans-serif;
$julius: 'Julius Sans One', sans-serif;

$family-primary: $arsenal;
$family-secondary: $julius;

// button
$button-border-width: 0px;